<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (user) {%>
      <h1>Hello <%= user.first_name %></h1>
      <a href="/log-out">LOG OUT</a>
      <form action="/new" method="post">
        <input type="text" name="message" id="message" placeholder="Write a message..">
        <input type="submit" value="Post">
      </form>
    <% } else { %>
      <h1>please log in</h1>
      <form action="/log-in" method="POST">
        <label for="username">Email</label>
        <input name="username" placeholder="Email" type="email" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <button>Log In</button>
      </form>
      <p>Don't have an account?<a href="/sign-up">register</a></p>
    <%}%>
    <% messages.forEach((message) => { %>
      <div>
          <% if (user) {%>
            <p><%= message.created_at_formatted %></p>
            <p><%= message.author.fullName %></p>
          <% } %>
          <p><%= message.text %></p>
          <% if (user && user._id.toString() === message.author._id.toString()) {%>
            <form action="/delete_message" method="POST">
              <input type="hidden" name="message_id" value="<%= message._id %>">
              <input type="submit" value="Delete">
            </form>
          <% } %>
      </div>
    <% }) %>
  </body>
</html>
