<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="title-div">
      <a href="/"><h1><%= title %></h1></a>
      <div>
        <% if (user) {%>
          <span class="greeting">Hello <%= user.firstName || "User" %></span>
          <a class="title-button" href="/log-out">Log Out</a>
        <% } else { %>
          <a class="title-button" href="/log-in">Log In</a>
          <a class="title-button" href="/sign-up">Sign Up</a>
        <%}%>
      </div>
    </div>
    <div class="hero">
    <h1>Welcome to our <%= title %></h1>
    <p>Become a member, share your stories anonymously, and unlock the authors' identities by joining our club.</p>
    </div>
    <% if (user) {%>
      <div class="new-message-div">
        <form class="new-message-form" action="/new" method="post">
          <input type="text" name="message" id="message" placeholder="Write a message..">
          <input class="post-message-button" type="submit" value="Post">
        </form>
      </div>
    <% } %>
    <div class="message-grid">
      <% messages.forEach((message) => { %>
        <div class="message-div">
          <% if (user) {%>
            <p class="message-date"><%= message.created_at_formatted %></p>
          <% } %>
          <p class="message-text"><%= message.text %></p>
            <% if (user) {%>
              <p class="message-author"><%= message.author.fullName %></p>
            <% } %>
            <% if (user && user._id.toString() === message.author._id.toString()) {%>
              <form action="/delete_message" method="POST">
                <input type="hidden" name="message_id" value="<%= message._id %>">
                <input type="submit" value="Delete">
              </form>
            <% } %>
        </div>
      <% }) %>
    </div>
  </body>
</html>
